/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-press-start-2p);
}

body {
  font-family: var(--font-play);
  background-color: rgb(10, 0, 19);
  color: #fff;
}
